<ion-header>
  <ion-toolbar>
    <ion-title>listing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <img src="/assets/shapes.svg" alt=""/>
    </ion-slide>
    <ion-slide>
      <img src="/assets/shapes.svg" alt=""/>
    </ion-slide>
    <ion-slide>
      <img src="/assets/shapes.svg" alt=""/>
    </ion-slide>
  </ion-slides>

  <div>
    <ion-button expand="block" shape="round" fill="outline">Contact Now</ion-button>
  </div>
</ion-content>
