<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <img src="/assets/shapes.svg" alt=""/>
    </ion-slide>
    <ion-slide>
      <img src="/assets/shapes.svg" alt=""/>
    </ion-slide>
    <ion-slide>
      <img src="/assets/shapes.svg" alt=""/>
    </ion-slide>
  </ion-slides>

  <h2>Nice and Shiny Condo</h2>

  <div>
    <div>
      <p>Entire house</p>
      <p>Hosted by: Tim Redis</p>
    </div>
  </div>

  <div>
    <b>About this home</b>
    <p>Ths home has so many stuff in it.  </p>
  </div>
  <div>
    <ion-button expand="block" shape="round" fill="outline">Contact Now</ion-button>
  </div>
</ion-content>
