<ion-header>
    <ion-toolbar>
        <ion-title>login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="login-box">
        <form (ngSubmit)="register()" #registerForm="ngForm">
            <ion-item>
                <ion-label>E-mail</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Password</ion-label>
                <ion-input type="password"></ion-input>
            </ion-item>

            <ion-button type="submit" expand="full" shape="round" fill="outline" color="primary">Primary</ion-button>
        </form>
    </div>
</ion-content>
