<ion-header>
    <ion-toolbar>
        <!--        <ion-buttons slot="start">-->
        <!--            <ion-menu-button autoHide="false"></ion-menu-button>-->
        <!--        </ion-buttons>-->
        <ion-buttons slot="secondary">
            <ion-button (click)="openLocationSearch()">
                <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Explore
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
    <ion-card class="welcome-card" (click)="helloWorld()">
        <ion-slides pager="true" [options]="slideOpts">
            <ion-slide>
                <img src="/assets/shapes.svg" alt=""/>
            </ion-slide>
            <ion-slide>
                <img src="/assets/shapes.svg" alt=""/>
            </ion-slide>
            <ion-slide>
                <img src="/assets/shapes.svg" alt=""/>
            </ion-slide>
        </ion-slides>

        <ion-card-header>
            <ion-card-subtitle>Entire room</ion-card-subtitle>
            <ion-card-title>Nice and Shiny Condo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>$415/night</p>
        </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card" (click)="helloWorld()">
        <ion-slides pager="true">
            <ion-slide>
                <img src="/assets/shapes.svg" alt=""/>
            </ion-slide>
            <ion-slide>
                <img src="/assets/shapes.svg" alt=""/>
            </ion-slide>
            <ion-slide>
                <img src="/assets/shapes.svg" alt=""/>
            </ion-slide>
        </ion-slides>

        <ion-card-header>
            <ion-card-subtitle>Entire room</ion-card-subtitle>
            <ion-card-title>Nice and Shiny Condo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>$415/night</p>
        </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card" (click)="helloWorld()">
        <ion-slides pager="true">
            <ion-slide>
                <img src="/assets/shapes.svg" alt=""/>
            </ion-slide>
            <ion-slide>
                <img src="/assets/shapes.svg" alt=""/>
            </ion-slide>
            <ion-slide>
                <img src="/assets/shapes.svg" alt=""/>
            </ion-slide>
        </ion-slides>

        <ion-card-header>
            <ion-card-subtitle>Entire room</ion-card-subtitle>
            <ion-card-title>Nice and Shiny Condo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>$415/night</p>
        </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card" (click)="helloWorld()">
        <ion-slides pager="true">
            <ion-slide>
                <img src="/assets/shapes.svg" alt=""/>
            </ion-slide>
            <ion-slide>
                <img src="/assets/shapes.svg" alt=""/>
            </ion-slide>
            <ion-slide>
                <img src="/assets/shapes.svg" alt=""/>
            </ion-slide>
        </ion-slides>

        <ion-card-header>
            <ion-card-subtitle>Entire room</ion-card-subtitle>
            <ion-card-title>Nice and Shiny Condo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>$415/night</p>
        </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card" (click)="helloWorld()">
        <ion-slides pager="true">
            <ion-slide>
                <img src="/assets/shapes.svg" alt=""/>
            </ion-slide>
            <ion-slide>
                <img src="/assets/shapes.svg" alt=""/>
            </ion-slide>
            <ion-slide>
                <img src="/assets/shapes.svg" alt=""/>
            </ion-slide>
        </ion-slides>

        <ion-card-header>
            <ion-card-subtitle>Entire room</ion-card-subtitle>
            <ion-card-title>Nice and Shiny Condo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>$415/night</p>
        </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card" (click)="helloWorld()">
        <ion-slides pager="true">
            <ion-slide>
                <img src="/assets/shapes.svg" alt=""/>
            </ion-slide>
            <ion-slide>
                <img src="/assets/shapes.svg" alt=""/>
            </ion-slide>
            <ion-slide>
                <img src="/assets/shapes.svg" alt=""/>
            </ion-slide>
        </ion-slides>

        <ion-card-header>
            <ion-card-subtitle>Entire room</ion-card-subtitle>
            <ion-card-title>Nice and Shiny Condo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>$415/night</p>
        </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card" (click)="helloWorld()">
        <ion-slides pager="true">
            <ion-slide>
                <img src="/assets/shapes.svg" alt=""/>
            </ion-slide>
            <ion-slide>
                <img src="/assets/shapes.svg" alt=""/>
            </ion-slide>
            <ion-slide>
                <img src="/assets/shapes.svg" alt=""/>
            </ion-slide>
        </ion-slides>

        <ion-card-header>
            <ion-card-subtitle>Entire room</ion-card-subtitle>
            <ion-card-title>Nice and Shiny Condo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>$415/night</p>
        </ion-card-content>
    </ion-card>

</ion-content>
