<ion-app>
  <ion-menu contentId="content1" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-list-header>
          <ion-label>Profile</ion-label>
        </ion-list-header>
        <ion-item>Edit Profile</ion-item>
        <ion-item>Settings</ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header>
          <ion-label>Host</ion-label>
        </ion-list-header>
        <ion-item>Become a host</ion-item>
      </ion-list>
      <ion-list>
        <ion-item>Log Out</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>
